body {
    background-color: black;
    color: white;
}

a {
    color: red;
}

a:hover {
    color: grey;
}

li {
    color: lightgreen;
}

li.optional {
    color: lightgrey;
}

li:hover, li.optional:hover {
    color: yellow;
}

img {
    width: 600px;
    height: auto;
}